<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Games</a>
    <div class="d-flex">
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games">
            Game List
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games/new">
            Add Game
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register/">
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
