<form ngForm="form" class="bg-dark p-4 w-25 m-auto mt-5" (ngSubmit)="registerHandler()">
    <h1>
        Register
    </h1>
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
        <p> {{successMessage}}</p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <p> {{errorMessage}} </p>
    </div>
    <div class="form-group mt-3">
        <label> Username </label>
        <input type="email" class="form-control" name="email" ngModel required />
    </div>
    <div class="form-group mt-3">
        <label> Password </label>
        <input type="password" class="form-control" minlength="8" name="password" ngModel required
            #passwordControl="ngModel" />
        <div *ngIf="passwordControl.dirty && passwordControl.invalid"> Password length must be minimum of 8 characters
        </div>
    </div>
    <div class="form-group mt-3 ">
        <label> Confirm Password </label>
        <input type="password" class="form-control" minlength="8" name="confirmPassword"  ngModel required
            #confirmPasswordControl="ngModel" />
        <div *ngIf="confirmPasswordControl.dirty && confirmPasswordControl.invalid"> Password length must be minimum of
            8
            characters
        </div>
    </div>
    <div class="form-group mt-3">
        <button class="btn-primary btn-lg"> Register</button>
    </div>
</form>
